{include file="admin/header.html"}
<body>
<div class="panel admin-panel">
    <div class="panel-head" id="add"><strong><span class="icon-pencil-square-o"></span>增加商品</strong></div>
    <div class="body-content">
        <form method="post" class="form-x" action="index.php?m=admin&c=goods&a=checkgoodsadd">
            <div class="form-group">
                <div class="label">
                    <label>商品名称：</label>
                </div>
                <div class="field">
                    <input type="text" class="input w50" value="" name="gname" data-validate="required:请输入商品名称"/>
                    <div class="tips"></div>
                </div>
            </div>

            <div class="form-group">
                <div class="label">
                    <label>缩略图：</label>
                </div>
                <div class="field">
                    <input type="file" id="url1" class="input tips" style="width:25%; float:left;" value="" data-toggle="hover" data-place="right" data-image=""/>
                    <input type="button" class="button bg-blue margin-left" id="image1" value="+ 浏览上传" style="float:left;" data-url="index.php?m=admin&c=goods&a=upload">
                    <div class="tipss">图片尺寸：500*500</div>
                    <input type="hidden" name="gthumb" id="hidden">
                </div>
            </div>

            <div class="form-group">
                <div class="label">
                    <label>多图：</label>
                </div>
                <div class="field">
                    <input type="file" id="url2" class="input tips" style="width:25%; float:left;" value="" data-toggle="hover" data-place="right" data-image="" multiple/>
                    <input type="button" class="button bg-blue margin-left" id="image2" value="+ 浏览上传" style="float:left;" data-url="index.php?m=admin&c=goods&a=upload">
                    <div class="tipss">图片尺寸：500*500</div>
                    <input type="hidden" name="gpictures" id="hidden2">
                </div>
            </div>



            <div class="form-group">
                <div class="label">
                    <label>价格：</label>
                </div>
                <div class="field">
                    <input type="text" class="input w50" value="" name="gprice" data-validate="required:请输入商品价格"/>
                    <div class="tips"></div>
                </div>
            </div>

            <div class="form-group">
                <div class="label">
                    <label>描述：</label>
                </div>
                <div class="field" style="padding-top:8px;">
                    <textarea name="gdescription" class="input w50"></textarea>
                </div>
            </div>

            <div class="form-group">
                <div class="label">
                    <label>所属分类：</label>
                </div>
                <div class="field" style="padding-top:8px;">
                    <select name="tid" class="input w50">
                    {foreach $types $v}
                        <option value="{$v['tid']}">{$v['tname']}</option>
                        {/foreach}
                    </select>
                </div>
            </div>

            <div class="form-group">
                <div class="label">
                    <label>是否推荐：</label>
                </div>
                <div class="field" style="padding-top:8px;">
                    推荐<input type="radio" name="grecommend" value="1">
                    不推荐<input type="radio" name="grecommend" value="0" checked>
                </div>
            </div>

            <div class="form-group">
                <div class="label">
                    <label>排序：</label>
                </div>
                <div class="field" style="padding-top:8px;">
                    <input type="text" class="input w50" name="gorder">
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label></label>
                </div>
                <div class="field">
                    <button class="button bg-main icon-check-square-o" type="submit"> 提交</button>
                </div>
            </div>


        </form>
    </div>
</div>
<script src="{JS_PATH}/upload.js"></script>
</body>
</html>