
.header{
	width: 100%;
	height: 6.03rem;
	background: #bee0d2;
	overflow: hidden;
	position: relative;
}
.header_top{
	height: 0.65rem;
	background: yellow;
	width: 100%;
	margin-top: 1.14rem;
}
.header_top_left{
	width: 0.35rem;
	height: 0.65rem;
	background: red;
	margin-left: 0.35rem;
}
.header_top_right{
	width: 1.94rem;
	height: 0.65rem;
	background: red;
}
.touxiang{
	width: 2.8rem;
	height: 2.8rem;
	background: pink;
	border-radius: 50%;
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	top: 4.01rem;
	/* border: 0.1rem solid #fff; */
}
.touxiang img{
	width: 2.8rem;
	height: 2.8rem;
	border-radius: 50%;
}
.center{
	height: 5rem;
	width: 100%;
	/* background: skyblue; */
	text-align: center;
	overflow: hidden;
	border-bottom: 1px solid #ededed;
}
.center h1{
	font-size: 0.53rem;
	margin-top: 1.12rem;
}
.center h2{
	margin-top: 0.56rem;
	font-size: 0.32rem;
}
.center_wenzi{
	width: 7.59rem;
	height: 0.5rem;
	/* background: yellow; */
	margin: 0 auto;
	margin-top: 0.54rem;
	font-size: 0.32rem;
}
.ziliao{
	width: 3.69rem;
	height: 0.98rem;
	border: 0.03rem solid #9caa75;
	border-radius: 20px;
	margin: 0 auto;
	margin-top: 0.77rem;
	font-size: 0.36rem;
	color: #9caa75;
	line-height: 0.98rem;
}
.center_wenzi h3{
	float: left;
}
.center_wenzi h4{
	float: left;
	margin-left: 1rem;
}
.xian{
	width: 0.03rem;
	height: 0.32rem;
	background: #dedede;
	float: left;
	margin-left: 1rem;
	margin-top: 0.09rem;
}
.xinde{
	height: 2rem;
	width: 100%;
	/* background: pink; */
	text-align: center;
	line-height: 2rem;
	font-size: 0.8rem;
}
.zong{
	width: 100%;
	background: #f0f0f0;
	overflow: hidden;
}
.zong_item{
	height: 6.65rem;
	width: 10.24rem;
	background: #fff;
	margin: 0 auto;
	margin-top: 0.43rem;
	overflow: hidden;
}
.zong_item_top{
	width: 9.22rem;
	height: 1.61rem;
	/* background: pink; */
	margin: 0 auto;
	margin-top: 0.58rem;
}

.zong_touxiang{
	height: 1.61rem;
	width: 1.61rem;
	background: yellow;
	border-radius: 50%;
	float: left;
}
.zong_touxiang img{
	height: 1.61rem;
	width: 1.61rem;
}
.zong_touxiang_wenzi{
	float: left;
	margin-left: 0.28rem;
}
.zong_item_top h1{
	font-size: 0.5rem;
	margin-top: 0.31rem;
}
.zong_item_top h2{
	font-size: 0.33rem;
	color: #5d5d5d;
	font-weight: normal;
}
.zong_item_pic{
	width: 9.22rem;
	height: 2.08rem;
	/* background: pink; */
	margin: 0 auto;
	margin-top: 0.4rem;
}
.zong_tu{
	width: 2.08rem;
	height: 2.08rem;
	/* background: yellow; */
	float: left;
	margin-right: 0.3rem;
}
.zong_tu1{
	margin-right: 0;
}
.guanzhu{
	width: 9.22rem;
	height: 1rem;
	/* background: blue; */
	margin: 0 auto;
	margin-top: 0.41rem;
}
.guanzhu h1{
	color: #5e5e5e;
	font-size: 0.31rem;
	line-height: 1rem;
	float: left;
	font-weight: normal;
}
.guan{
	width: 2.53rem;
	height: 0.98rem;
	background: #9cb07b;
	float: right;
	margin-top: 0.01rem;
	border-radius: 20px;
	font-size: 0.35rem;
	color: #fff;
	text-align: center;
	line-height: 0.98rem;
}
