<link rel="stylesheet" href="{CSS_PATH}/footer.css">
<div class="wode_dubu">
    <a href="index.php">
        <div class="wode_dubu_item wode_dubu_item1" {if $t==1}id="active"{/if}>
            <h1>&#xe699;</h1>
            <h2>首页</h2>
        </div>
    </a>
    <a href="index.php?m=index&c=category&a=init">
        <div class="wode_dubu_item" {if $t==2}id="active"{/if}>
            <h1>&#xe69b;</h1>
            <h2>分类</h2>
        </div>
    </a>
    <a href="index.php?m=index&c=shoppingcar&a=init">
        <div class="wode_dubu_item" {if $t==3}id="active"{/if}>
            <h1>&#xe66e;</h1>
            <h2>购物车</h2>
        </div>
    </a>
    <a href="index.php?m=index&c=personal&a=init">
        <div class="wode_dubu_item" {if $t==4}id="active"{/if}>
            <h1>&#xe622;</h1>
            <h2>个人中心</h2>
        </div>
    </a>
</div>
</body>
</html>