{include file="index/header.html"}
<link rel="stylesheet" href="{CSS_PATH}/wode.css">
<body>
	<main class="wode">
		<div class="wodezong">
			<div class="wode_top">
					<div class="wode_shezhi">
						<span class="head_left11">&#xe65b;</span>
						<span class="head_left11">&#xe6cd;</span>
					</div>
					<div class="wode_denglu1">
						<img src="{IMG_PATH}/zhongcao4.png" alt="">
						<h1>登录/注册</h1>
						<div class="wode_shoucang">
						</div>
					</div>
			</div>	
			
			<div class="wode_dingdan">
					<div class="wode_ding_top">
						<h3>我的订单</h3>
					</div>
					<div class="wode_ding_bottom">
						<div class="ding_bottom_item">
							<h1>&#xe640;</h1>
							<h2>待付款</h2>
						</div>
						<div class="ding_bottom_item">
							<h1>&#xe63f;</h1>
							<h2>待发货</h2>
						</div>
						<div class="ding_bottom_item">
							<h1>&#xe60d;</h1>
							<h2>待收货</h2>
						</div>
						<div class="ding_bottom_item">
							<h1>&#xe66b;</h1>
							<h2>待评价</h2>
						</div>
						<div class="ding_bottom_item">
							<h1>&#xe609;</h1>
							<h2>退货退款</h2>
						</div>
					</div>
			</div>

		</div>
	</main>
{include file="index/footer.html"}